<!DOCTYPE html>
<html>
<head>
    <title>Super Sprinter 3000 - {{ title }}</title>
</head>
<body>
    <h1>User Story manager - {{ title }}</h1>
    <form action="/list" method="post">
        <label for="title">Story Title </label>
        <br>
        <input name="title" value="{{ story[1] }}" size="41">
        <br>
        <br>
        <label for="story">User Story </label>
        <br>
        <textarea name="story" rows="5" cols="40">{{ story[2] }}</textarea>
        <br>
        <br>
        <label for="criteria">Acceptance criteria </label>
        <br>
        <textarea name="criteria" rows="5" cols="40">{{ story[3] }}</textarea>
        <br>
        <br>
        <label for="value">Business Value </label>
        <br>
        <input type="number" name="value" min="100" value="{{ story[4] }}" max="1500" step="100" required>
        <br>
        <br>
        <label for="estimation">Estimation (h) </label>
        <br>
        <input type="number" name="estimation" min="0.5" value="{{ story[5] }}" max="40" step="0.5" required>
        <br>
        <br>
        <label for="status">Status </label>
        <br>
        <select value="{{ story[6] }}" required>
            <option>Planning</option>
            <option>TODO</option>
            <option>In Progress</option>
            <option>Review</option>
            <option>Done</option>
        </select>
        <br>
        <br>
        <input type="submit" value="{{ button }}" name="button" align="right"/>
        <input type="hidden" value="{{ story[0] }}" name="id" />
    </form>
</body>
</html>